<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD APP</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="/public/stylesheets/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="w-full">
      <form
        action="/update"
        method="POST"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
      >
        <p class="leading-relaxed mb-5 text-gray-600">
          Edit User Details
        </p>
        <input type="hidden" name="id" value="<%= Users._id %>" />
        <label class="block text-gray-700 text-sm font-bold mb-2">Name</label>
        <input
          class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          placeholder="name"
          name="name"
          value="<%= Users.name %>"
          required
        />
        <br />
        <br />
        <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
        <input
          class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="email"
          placeholder="email"
          name="email"
          value="<%= Users.email %>"
          required
        />
        <br />
        <br />
        <label class="block text-gray-700 text-sm font-bold mb-2"
          >Contact</label
        >
        <input
          class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="tel"
          pattern="[0-9]{10}"
          placeholder="contact"
          name="contact"
          value="<%= Users.contact %>"
          required
        />
        <br />
        <br />
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
          Submit
        </button>
      </form>
    </div>
  </body>
</html>
