<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD application</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <input type="file" id="photo">
</body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-storage.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDmPur2scQniR3NJ3SwybCm3RtWiH0TNEA",
    authDomain: "crud-22077.firebaseapp.com",
    databaseURL: "https://crud-22077.firebaseio.com",
    projectId: "crud-22077",
    storageBucket: "crud-22077.appspot.com",
    messagingSenderId: "626926455957",
    appId: "1:626926455957:web:26ff2ebd6c90ae4a115f9c",
    measurementId: "G-WZF7ZQ048P"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
  console.log(firebase);

  //Get Elements
  var fileButton = document.getElementById('photo');

  //Listen for the file selection
  fileButton.addEventListener('change', function (e) {
    //Get File
    var file = event.target.files[0];

    //Create a Storage Ref
    var storageRef = firebase.storage().ref('avatar' + file.name);

    //Upload File
    storageRef.put(file);
  })

</script>

</html>