<form action="/users" method="POST">
    <label for="fname">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="contact">Contact:</label>
    <input type="text" id="contact" name="contact"><br><br>
    <input type="submit" value="Submit">
</form>